.hero{
  display: grid;
  height: 90vh;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  gap: 12px;
  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 600ms;
}

.social{
  display: flex;
  justify-content: center;
  margin-top: 24px;
}

.text{
  animation-name: moveUp;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 600ms;
  text-align: center;
}


.l2{
  font-size: 50px;
  letter-spacing: 3px;
}

.l3{
  font-size: 40px;
  letter-spacing: 7px;
}

.icon{
  margin-left: 8px;
}

.icon:hover{
  transform: scale(1.3);
  
}

.github-icon{
  background-image: url("../../images/github.svg");
  background-size: cover;
  width: 24PX;
  height: 24px;
}

.linkedin-icon{
  background-image: url("../../images/linkedin.svg");
  background-size: cover;
  width: 24PX;
  height: 24px;
}

.twitter-icon{
  background-image: url("../../images/twitter.svg");
  background-size: cover;
  width: 24PX;
  height: 24px;
}

.images{
  height: 42px;;
  margin-bottom: 24px;
}

.image{
  width: 42px;
}
